.input {
    border-radius: 8px;
    width: 160px;
    height: 50px;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 16px;
    font-weight:bold;
    color: white;
    cursor: pointer;
}

.input:disabled {
    background-color: grey;
    cursor: not-allowed;
}

@media (max-width: 750px) {
    .input{
      width: 120px;
  
    }
  }
  
.edit {
    width: 60px;
    height: 30px;
}
