.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  position: relative;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr ;
  }
}

.description {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropDown {
  width: 40px;
}

.items {
  background-color: rgba(224, 226, 230, 0.411);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: rgb(41, 42, 77);
  width: 25vw;
  min-height: 100px;
  height: fit-content;
  display: flex;
  border-radius: 12px;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  margin: 20px auto;
  min-width: 150px;
  // position:relative
}

// .answersContainer {
//   position: absolute;
//   top:15% ;
//   left: 4%;
//   background-color: rgba(130, 151, 207, 0.411);
//   opacity: 1;
// }

.answers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icons {
  width: 25px;
  margin:0 10px;
  cursor: pointer;
}

.footerSkill {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.answerContainer {
  display: flex;
  justify-content: flex-start;
  min-height: 15px;
  margin: 10px;
  border-radius: 16px;
}
.input {
  display: block;
  margin: 5px;
}

.questionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}