.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addLogo {
    width: 25px;
}

.container {
    text-align: center;
}

.questions {
    margin: 20px;
    cursor: pointer;
    
}