@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');

.container {
  /* background-color: rgb(87 37 103); */
  /* background-color: rgb(10, 38, 238); */
  background-color: white;

  box-shadow: -2px -9px 12px -14px rgba(0, 0, 0, 0.75);
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.5em;
  height: 22vh;
}

.text {
  color: black;
  text-shadow: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Raleway;
  line-height: 0.5;
  margin: 10px;
}

.textSmall {
  color: black;
  text-shadow: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 10px;
  font-family: Raleway;
  margin: 10px;

}

.logo {
  padding-top: 1em;
  font-size: 1em;
  width: 5.5em;
  height: auto;
}

@media (max-width: 600px) {
  .text {
    padding-right: 1.9em;
  }
  .textSmall {
    text-shadow: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 10px;
    font-family: Raleway;
    padding-right: 5em;
  }
  .logo {
    display: flexbox;
    padding-top: 1em;
    font-size: 1em;
    width: 5.5em;
    height: auto;
    padding-right: 1.9em;
  }
}
