@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');
/* 
*{
    margin:0;
    padding: 0;
} */

h1 {
    font-family: "Montserrat";
}

h2 {
    font-family: "Raleway";
}

input:active {
     outline:none
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
}