@font-face {
    font-family: 'Hind Vadodara';
    src: url("https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap");
    font-weight: 400;
}
@font-face {
    font-family: 'Hind Vadodara';
    src: url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@600&display=swap");
    font-weight: 600;
}


* {
    margin:0;
    padding: 0;
} 

h1 ,h2,h3, h4{
    font-family: 'Hind Vadodara', sans-serif;
}


input:active, button:active , a:active {
     outline:none
}



