.modalBg {
    position:fixed;
    z-index: 1;
    top:0;
    left: 0;
    text-align: center;
    display:flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.5);
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ;
    backdrop-filter: blur(1.5px);
}

.modal {
    background-color: rgb(221, 217, 217);
    border-radius:16px ;
    width: 40vw;
   display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 250px;
    h3 {
        font-weight: 200;
        font-size: 150%;
        margin: 6px;
    }
}



.active {
    visibility: visible;
    opacity:1;   
}

.icon {
    width: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
    margin: 24px;
}

.closeIcon {
    width: 6%;
}

.containerClose {
    position:absolute;
    display: flex; 
    justify-content: flex-end;
    margin:3px;

    
}

.cursor{
    cursor: pointer;
}

.h2 {
    margin:12px;
    font-size: 2em;
    font-weight: 400;
}

.error{
    color: #EC0000;
}

@media (max-width: 750px) {
    .modal{
        width: 125%;
    }
.buttons {
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
}