.modalBg {
    position:fixed;
    z-index: 1;
    top:0;
    left: 0;
    text-align: center;
    display:flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.5);
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ;
    backdrop-filter: blur(1.5px);
}

.modal {
    background-color: rgba(255, 255, 255, 0.83);
    border-radius:16px ;
    width: 40vw;
   display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 250px;
    h3 {
        font-weight: 200;
        font-size: 150%;
        margin: 6px;
    }
    position: relative
}

.modalEdit {
    width: 90%;
    height: 90%;
    
} 

.active {
    visibility: visible;
    opacity:1;   
}   

.icon {
    width: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
    margin: 24px;
}

.closeIcon {
    width: 3%;
}

.containerClose {
    position:absolute;
    display: flex; 
    justify-content: flex-end;
    // width: 1;
    margin-bottom: 20px;
    position:relative
    
}

.cursor{
    cursor: pointer;
}

.h2 {
    margin:12px;
    font-size: 2em;
    font-weight: 400;
}

.error{
    color: #EC0000;
}

@media (max-width: 750px) {
    .modal{
        width: 125%;
    }
.buttons {
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
}

.adminModalEdit {
    width: 50vw;
    height: 50vh;
}
.check {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
   
}


.answerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 50px;
}

.answerContainerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.headerEditModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil {
    width:25px;
    cursor: pointer;
}

.h1 {
    margin-right: 15px;
}