@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');

.navbar {
  background-color: black;
  border-radius: 10px;
}

.logo {
  color: white;
}
