@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');

.navbar {
  position: relative;
  top: 0;
  background-color: rgb(87 37 103);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.699);
  padding: 0.7em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  margin-left: 5px;
  margin-top: 5px;
  height: 45px;
  width: 130;
  cursor: pointer;
}

.button {
  margin-top: 4px;
  margin-right: 5px;
  float: right;
  background-color: rgba(0, 0, 24, 0.72);
  border-radius: 8px;
  border: blue;
  width: 160px;
  height: 50px;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all .2s ease
}

.button:hover {
  background-color: rgba(0, 0, 24, 0.84);
  transition: all .2s ease
}

.button:focus {
  background-color: #000018;
  outline-color: rgba(61, 229, 223, 1);
  outline-width: 1px;
}
