@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');



.navbar {
  background: #ffffff;
  color: #686c70;
  padding: 0 0;
  border-radius: 0;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 5px;
  height: 100px;
  width: 100px;
}

.link {
  color: white;
  font-size: 19px;
  font-weight: bold;
  border: 1px solid rgb(233, 0, 102);
  background-color: rgb(233, 0, 102);
  padding: 3px 7px;
  border-radius: 5px;
  transition: all 0.12s ease-in-out;
  &:hover {
    border-color:  #e00b67;
    background-color: rgb(238, 20, 115);

  }
}


.button:hover {
  background-color: rgba(0, 0, 24, 0.84);
  transition: all 0.2s ease;
}

.button:focus {
  background-color: #000018;
  outline-color: rgba(61, 229, 223, 1);
  outline-width: 1px;
}

@media (max-width: 750px) {
  .navbar{
    width: 100%;

  }
}
