@font-face {
  font-family: 'Hind Vadodara';
  src: url("https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap");
  font-weight: 400;
}
@font-face {
  font-family: 'Hind Vadodara';
  src: url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@600&display=swap");
  font-weight: 600;
}



/* // estilo global */
.container {
  display: flex ;
  background-color: rgb(255, 255, 255);
  margin: 10%;
  justify-content: center;
}

.box1{
  flex-direction: row;
  
}

.box2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 3em;
  color: rgb(10, 38, 238);
  font-weight: 600;
  text-align:left;
  line-height: 1.2em;
  
}

.subtitle {
  font-size: 1.5em;
  color: rgba(0, 0, 24, 0.84);
  
}

.font{
    font-family: 'Hind Vadodara', sans-serif;
}

@media (max-width: 750px) {
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box1{
        img{
            width: 100%;
        }
    }
    .title{
        font-size:2em
    }
}