@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway';
    margin: 30px;
    align-content: center;

}

.questionContainer {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.answers {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    border-radius: 15px;
    background-color: rgba(73, 64, 64, 0.089);
    border-radius: 15px;
    box-shadow: -2px 7px 9px 1px rgba(34, 35, 75, 0.254);
}

.h2 {
    color: #0A26EE ;
    font-weight: 400;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

