@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&display=swap');

.body {
  display: inline-block;
  justify-content: left;
  align-items: center;
  width: auto;
}

p {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  position: relative;
  margin-left: 20px;
}

.radioBtn {
  margin: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.radioBtn:hover .checkmark {
  border: 3px solid #3d47f5;
}

.radioBtn .checkmark {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 3px solid #93939e;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 150ms ease;
}

.radioBtn input {
  display: none;
}


@media (max-width: 750px) {
  .radioBtn .checkmark {
    height: 20px;
    width: 20px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .radioBtn {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
}
.selected{
  border: 6px solid #3d47f5 !important;
}

