@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&display=swap');

.container1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 80vh;

}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // box-shadow: 0px 6px 10px 1px rgba(0, 0, 255, 0.164);
  border-radius: 5px;
  width: 35vw;
}

.left {
  text-align: center;

}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}
.h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 20px 0px 50px 0px ;
}

.h2 {
  font-size: 1.7em;
  margin: 0px 0px 50px 0px ;
  font-weight: 500;
  color: #0a26ee;


}


.incorrect {
//  background-color: rgba(0, 0, 255, 0.063);
 min-width: 450px;
  margin-bottom: 10%;
  margin-top: -5%;
  border-top: 2px solid black;
  border-bottom: 2px solid rgb(0, 0, 0);
  // border-radius: 6px;
  height: auto;
}

h4{
  font-family: 'Hind Vadodara', sans-serif;
}

@media (max-width: 750px) {
  .main{
    flex-direction: column;

  }
  .incorrect{
    min-width: 140%;
    // margin-bottom: 20%;
    // margin-top: -5%;
    margin-left: -18%;
  }
  .h2{
    font-size: 1.5em;
    margin-top:10px;
    margin-bottom: 32px;
  }
  .h3{
    text-align: center;
  }
}