.colorIcon {
  color: blue;
  font-size: 1.5em;
  
  cursor: position;
}

.centerRow {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  cursor: position;
}

.input {
    border-color: blue;
    cursor: position;
    padding-left: 10%;
}

.skillBox {
  position: relative;
  padding-top: 10%;
  margin-left: 13%;
  cursor: position;
}

.loading {
  position: relative;
  padding-top: 10%;
  margin-left: 25%;
  cursor: position;
}
