.container {
  // background-color: grey;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  font-size:1.5em;

  h1{
      font-size: 60px;
      color:blue
  }
}

.skills {
  background-color: rgba(255, 255, 255, 0.24);
  height: 50px;
}

.skills2 {
  background-color: #00000012;
  height: 50px;
}