.progressCircle {
  transition: 1.6s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.container {
  position: relative;
}

.h1 {
  color: #0a26ee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 180px;
  font-size: 30px;
}
